body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .15fr 1fr .01fr;
    grid-template-areas: 
    "header header header"
    "desc desc desc"
    "footer footer footer";
    margin: 0px 0px;
}

.header{
  grid-area: header;
}

#logo{
  background-color: rgba(0, 0, 0, 0.1);
  width: 150px;
  border-radius: 20px;
  float: left;
  margin: 15px 15px;
  border-radius: 35%;
}
.navs{
  float: right;
  color: white;
  font-size: 25px;
  border-radius: 15px;
  padding: 25px 35px;
  margin: 15px 15px;
  font-family: 'bitter','serif';

}
.navs a{
  text-decoration: none;
  color: white;
  margin: 10px 10px;
  background-color: #487EAF;
  padding: 15px 20px;
  border-radius: 15px;
}
.navs a:hover{
  background-color: white;
  color: #487EAF;
  border: 2px solid black;
}
#desc{
  grid-area: desc;
  background: #487EAF;
  color: white;
  border-radius: 35px;
  margin: 25px 250px;
  padding: 50px 50px;   
  line-height: 65px ;
}
#desc h1{
  margin-left: 0px;
}
#desc a{
  background-color: white;
  color: black;
  padding: 1px 10px;
  float: right;
  border-radius: 10px;
}
#desc a:hover{
  background-color: black;
  color: white;
}
#desc:hover{
  box-shadow: 0 40px 130px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  background-color: #5692ca;  
}

.footer {
  grid-area: footer;
  background: #487EAF;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

    /* The company logo */

.footer img{
  width: 150px;
  height: 100px;
  margin-left: -100px;

}



    /* Footer links */

.footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}



.footer-links i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-links i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-links p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
  font-size: 18px;
}


.footer-links p a{
  color:  white;
  text-decoration: none;;
}


.location{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}
.location h1{
  display:block;
  font-weight: 700;
  font-size:35PX;
  line-height:2;
  color: white;
  margin-top: 65px;
}
.location i{
  color: #33383b;
  width: 20px;
  height: 20px;
  line-height: 42px;
  vertical-align: middle;
}

.useful-links a{
  display:block;
font-weight: normal;
font-size:20px;
line-height:2;
  color: white;
}
.useful-links h2{
  color: white;
  font-size: 35px;
  margin-top: 35px;
}
.logo1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.logo1 h1{
  padding: 0px 0px;
  color: white;
}
*{
  font-family: 'Bitter','Serif';
}