*{
  font-family: 'Bitter','Serif';
}


body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .3fr .5fr 1fr .15fr;
  grid-template-areas: 
  "header header header header"
  "pic card  card card"
  "map map map map"
  "footer footer footer footer";
  margin: 0px 0px;
}

.header{
  grid-area: header;
}

#logo{
  background-color: rgba(0, 0, 0, 0.1);
  width: 150px;
  border-radius: 20px;
  float: left;
  margin: 15px 15px;
  border-radius: 35%;
}
.navs{
  float: right;
  color: white;
  font-size: 25px;
  border-radius: 15px;
  padding: 25px 35px;
  margin: 15px 15px;
  font-family: 'bitter','serif';

}
.navs a{
  text-decoration: none;
  color: white;
  margin: 10px 10px;
  background-color: #487EAF;
  padding: 15px 20px;
  border-radius: 15px;
}
.navs a:hover{
  background-color: white;
  color: #487EAF;
  border: 2px solid black;
}
#pic{
  grid-area: pic;
}
.imgdes{
  width: 350px;
  border-radius: 10px;
  margin-left: 10px;
}
#card{
  grid-area: card;
}

#map{
  border-radius: 10px;
  border: 5px solid #203647;
}
.map{
  grid-area: map;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 25px;
}

.img{
  width: 350px;
  height: 300px;
  border-radius: 10px;
  margin-left: 160px;
  border: 1px solid black;
}
.job{
  font-size: 40px;
  font-family: 'bitter','serif';
  margin-left: 15px;
}
.company{
  font-size: 30px;
  margin-left: 15px;
  margin-top: 0px;
}
.description{
  margin-left: 15px;
  font-size: 25px;
  font-family: 'bitter','serif';
  margin-right: 150px;
}
.loc{
  margin-left: 15px;
  font-size: 20px;
}
.link{
  float:right;
  margin-bottom: 25px;
  margin-right: 160px;
  background-color: #487EAF;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
}
.link:hover{
  background-color: white;
  color: #487EAF;
  border: 2px solid black;
}
h1.job{
  margin-top: 0px;
}
.footer {
	background: #487EAF;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
  font-family: 'bitter','serif';
	font: bold 16px serif;
	padding: 0px 50px;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

   /* The company logo */

.footer img{
  width: 150px;
  height: 100px;
  margin-left: -100px;

}



   /* Footer links */

.footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  font-family: 'bitter','serif';
  text-decoration: none;
  color:  inherit;
}



.footer-links i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  font-family: 'bitter','serif';
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-links i.fa-envelope{
  font-size: 17px;
  font-family: 'bitter','serif';
  line-height: 38px;
}

.footer-links p{
  display: inline-block;
  color: #ffffff;
  font-family: 'bitter','serif';
  font-weight:400;
  vertical-align: middle;
  margin:0;
  font-size: 18px;
}


.footer-links p a{
  color:  white;
  text-decoration: none;
  font-family: 'bitter','serif';
}


.location{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  font-family: 'bitter','serif';
  vertical-align: middle;
  margin:0;
}
.location h1{
  display:block;
  font-weight: 700;
  font-family: 'bitter','serif';
  font-size:35PX;
  line-height:2;
  color: white;
  margin-top: 65px;
}
.location i{
  color: #33383b;
  width: 20px;
  height: 20px;
  line-height: 42px;
  vertical-align: middle;
}

.useful-links a{
  display:block;
	font-weight: normal;
	font-size:20px;
  font-family: 'bitter','serif';
	line-height:2;
  color: white;
}
.useful-links h2{
  color: white;
  font-size: 35px;
  font-family: 'bitter','serif';
  margin-top: 35px;
}
.logo1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.logo1 h1{
  padding: 0px 0px;
  color: white;
}