body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .15fr 1fr .15fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    margin: 0px 0px;
    background: linear-gradient( to left, #203647 0%,  #4DA8DA 100%,  #EEFBFB 100%,  #EEFBFB 1000%);
 
  }
  
.header{
    grid-area: header;
}

#logo{
    background-color: rgba(0, 0, 0, 0.1);
    width: 150px;
    border-radius: 20px;
    float: left;
    margin: 15px 15px;
    border-radius: 35%;
}
.navs{
    float: right;
    background-color: #203647;
    color: white;
    font-size: 25px;
    border-radius: 15px;
    padding: 25px 35px;
    margin: 15px 15px;
}
.navs a{
    text-decoration: none;
    color: white;
}
.main{
  grid-area: main;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}
.main h2{
    font-size: 55px;
}
.main img{
    width: 200px;
}
input[type=text], input[type=password] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.label{
    font-size: 20px;
}
button {
    background-color: #203647;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    font-size: 30px;
}
.footer{
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #203647;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer img{
    width: 150px;
    height: 100px;
    margin-left: -30px;
}
.f1 h2,h3{
    font-size: 20px;
    margin-left: -30px;
    color: white;
}
.footer i{
    color: black;
    font-size: 30px;
}
.a-f{
    text-decoration: none;
    color: white;
    font-size: 25;
}
#reg{
    font-size: 20px;
    color: blue;
}
