body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .03fr .08fr .7fr .02fr;
    grid-template-areas: 
    "header header header header"
    "h1 h1 h1 h1"
    "card card card card"
    "footer footer footer footer";
    margin: 0px 0px;
}
.header{
    text-align: center;
    align-items: center;
    grid-area: header;
    height: fit-content;
}

#logo{
    background-color: rgba(0, 0, 0, 0.1);
    width: 150px;
    border-radius: 20px;
    float: left;
    margin: 15px 15px;
    border-radius: 35%;
    font-family: 'bitter','serif';
}
.navs{
    float: right;
    color: white;
    font-size: 25px;
    border-radius: 15px;
    padding: 25px 35px;
    margin: 15px 15px;
    font-family: 'bitter','serif';
  
}
.navs a{
    text-decoration: none;
    color: white;
    margin: 10px 10px;
    background-color: #487EAF;
    padding: 15px 20px;
    border-radius: 15px;
}
.navs a:hover{
    color: #487EAF;
    background-color: white;
    border: 2px solid black;
}
#title{
    font-size: 95px;
    color: white;
    margin-top: 3em;
    font-family: 'bitter','serif';
}
#job{
    text-align: center;
    padding: 10px 45px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 15px;
}
#loc{
    text-align: center;
    padding: 10px 45px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 15px;
}

#minititle{
    font-size: 45px;
    grid-area: h1;
    text-align: center;
}
.Search{
    grid-area: card;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'bitter','serif';
}


.footer {
	background: #487EAF;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 18px serif;
    font-family: 'bitter','serif';
	padding: 0px 50px;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: fit-content
}



   /* The company logo */

.footer img{
    width: 150px;
    height: 100px;
    margin-left: -100px;

}



   /* Footer links */

.footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
    font-family: 'bitter','serif';
}



.footer-links i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    font-family: 'bitter','serif';
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-links i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-links p{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
    font-size: 18px;
    font-family: 'bitter','serif';
}


.footer-links p a{
    color:  white;
    text-decoration: none;;
}


.location{
    display: inline-block;
    color: #ffffff;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}
.location h1{
    display:block;
    font-family: 'bitter','serif';
    font-weight: 700;
    font-size:35PX;
    line-height:2;
    color: white;
    margin-top: 65px;
}
.location i{
    color: #33383b;
    width: 20px;
    height: 20px;
    line-height: 42px;
    vertical-align: middle;
}


.useful-links a{
    display:block;
	font-weight: normal;
    font-family: 'bitter','serif';
	font-size:20px;
	line-height:2;
    color: white;
}
.useful-links h2{
    color: white;
    font-size: 35px;
    font-family: 'bitter','serif';
    margin-top: 35px;
}

.logo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}
.logo1 h1{
    padding: 0px 0px;
    color: white;
}
*{
    font-family: 'Bitter','Serif';
  }
		