body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: .15fr 1fr .03fr .15fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "message message message"
    "footer footer footer";
    margin: 0px 0px;
}

.header{
    grid-area: header;
}

#logo{
    background-color: rgba(0, 0, 0, 0.1);
    width: 150px;
    border-radius: 20px;
    float: left;
    margin: 15px 15px;
    border-radius: 35%;
}
.navs{
    float: right;
    background-color: #487EAF;
    color: white;
    font-size: 25px;
    font-family: 'bitter','serif';
    border-radius: 15px;
    padding: 25px 35px;
    margin: 15px 15px;
}
.navs a{
    text-decoration: none;
    color: white;
}
.main{
    grid-area: main;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
}
.main h1{
    font-size: 50px;
    font-family: 'bitter','serif';
}
.main p{
    font-size: 20px;
    font-family: 'bitter','serif';
}
.main img{
    width: 200px;
}
input[type=text], input[type=password] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: 'bitter','serif';
}
.label{
    font-size: 20px;
    font-family: 'bitter','serif';
}
#submit{
    background-color: #487EAF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    font-size: 30px;
    font-family: 'bitter','serif';
    border-radius: 10px;

}
#cancel{
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    font-family: 'bitter','serif';
    font-size: 30px;
    border-radius: 10px;
}
.footer {
    grid-area: footer;
    background: #487EAF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: 'bitter','serif';
    font: bold 16px serif;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
}
/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
  
     /* The company logo */
  

  .footer img{
      width: 150px;
      height: 100px;
      margin-left: -100px;
  
  }
  
  
  
     /* Footer links */
  
  .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-links a{
      display:inline-block;
      line-height: 1.8;
      font-family: 'bitter','serif';
      font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  
  
  .footer-links i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      font-family: 'bitter','serif';
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-links i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
      font-family: 'bitter','serif';
  }
  
  .footer-links p{
      display: inline-block;
      color: #ffffff;
      font-family: 'bitter','serif';
      font-weight:400;
      vertical-align: middle;
      margin:0;
      font-size: 18px;
  }
  
  
  .footer-links p a{
      color:  white;
      text-decoration: none;;
      font-family: 'bitter','serif';
  }
  
  
  .location{
      display: inline-block;
      color: #ffffff;
      font-weight:400;
      font-family: 'bitter','serif';
      vertical-align: middle;
      margin:0;
  }
  .location h1{
      display:block;
      font-family: 'bitter','serif';
      font-weight: 700;
      font-size:35PX;
      line-height:2;
      color: white;
      margin-top: 65px;
  }
  .location i{
      color: #33383b;
      width: 20px;
      height: 20px;
      line-height: 42px;
      vertical-align: middle;
  }
  
  .useful-links a{
      display:block;
      font-family: 'bitter','serif';
      font-weight: normal;
      font-size:20px;
      line-height:2;
      color: white;
  }
  .useful-links h2{
      color: white;
      font-size: 35px;
      margin-top: 35px;
      font-family: 'bitter','serif';
  }

