*{
    background-color: grey;
}
header{
    display: flex;
    justify-content: space-between;
}

#logo{
    width: 120px;
    border-radius: 20px;
}
header i{
    color: blue;
}

#jsb_container{
    display: flex;
    text-align: center;
    justify-content: center;
}